body {
    background-color: #2D9BAF;
    text-align: center;
    font-family: Arial, sans-serif;
}


h1 {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Cambria', sans-serif; 
    margin-bottom: 20px;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: space-between; 
    padding: 10px; 
}

.info-container a {
    text-decoration: none;
    background-color: #fff;
    font-weight: bold;
    font-size: 20px;
    color: black; 
    transition: color 0.3s ease;
    padding: 10px 20px; 
    border: 1px solid #333; 
    border-radius: 5px; 
}

.info-container a:hover {
    color: #555;
    background-color: #2D9BAF; 
    border-color: #555; 
}

/
.prepare-trip {
    text-align: left;
    font-family: 'Cambria', sans-serif;
    align-items: center;
    max-width: 890px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.prepare-trip h2 {
    font-size: 34px;
    font-family: 'Fantasy', sans-serif; 
    margin-bottom: 20px;
}

.dropdown {
    margin-bottom: 15px;
}

.dropdown label {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.dropdown select {
    width: auto;
    padding: 1px;
    font-size: 12px;
    border: 2px solid #333;
    border-radius: 100px;
    height: 30px;
}

.assign-students {
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.submit-button,
.reset-button {
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 8px 16px;
    border: 2px solid #333;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-right: 10px;
}

.submit-button:hover,
.reset-button:hover {
    background-color: #555;
    color: #fff;
    border-color: #555;
}
         .logout-button {
            padding: 10px 20px;
            background-color: #008CBA;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
        }

        .logout-button:hover {
            background-color: #005A80;
        }
    

.supervisor-list label {
    font-weight: bold;
    font-size: 12px; 
    font-family: Arial, sans-serif; 
    margin-bottom: 5px; 
}

.supervisor-list label {
    font-weight: bold;
    font-size: 10px; 
    font-family: Arial, sans-serif; 
}



.supervisor-list label {
    font-weight: bold;
    font-size: 18px; 
    font-family: Arial, sans-serif;
    margin-bottom: 0px; 
}


.supervisor-list-scroll {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    max-height: 130px; 
    width: 10%; 
    overflow-y: auto; 
    padding: 5px; 
}



.supervisor-checkbox {
    display: flex;
    align-items: center;
    margin: 0px 0;
}

.supervisor-checkbox input[type="checkbox"] {
    display: none;
}

.checkmark-supervisor {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.supervisor-checkbox input[type="checkbox"]:checked + .checkmark-supervisor {
    background-color: #333;
    border-color: #333;
}


.info-container {
    display: flex; 
    justify-content: center; 
}
.parent-info a,
.student-info a,
.supervisor-info a ,
.current-routes a,
.home-page a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
    color: #333; 
    transition: color 0.3s ease; 
    margin-right: 20px; 
}

.parent-info a:hover,
.student-info a:hover,
.supervisor-info a:hover,
.current-routes a:hover ,
.home-page a:hover {
    color: #555; 
    cursor: pointer; 
}


.supervisor-name {
    font-size: 13px;
    padding: 5px;
    max-height: 20px;
    max-width: 100%; 
    overflow: hidden; 
}
